{% extends "welcome/templates/header.html" %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container py-5">
    <h1 class="h1 mt-5 pt-5">Reset Password</h1>
    <div>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            {{form|crispy}}
            <div id="div_id_username" class="form-group">
                <label for="id_username" class="requiredField">
                    Username
                </label>
                <div>
                    <input type="text" name="username" class="h4 textinput textInput form-control" required="" id="id_username">
                </div>
            </div>
            <div id="div_id_token" class="form-group">
                <label for="id_token" class="requiredField">
                    Token
                </label>
                <div class="">
                    <input type="text" name="token" class="h4 textinput textInput form-control" required="" id="id_token">
                </div>
            </div>
            <div id="div_id_new_password1" class="form-group"> <label for="id_new_password1" class="requiredField">
                New password
            </label>
                <div>
                    <input type="password" name="password" class="h4 textinput textInput form-control" required="" id="id_new_password1">
                </div>
            </div>
            <div id="div_id_new_password2" class="form-group">
                <label for="id_new_password2" class="requiredField">
                    New password confirmation
                </label>
                <div>
                    <input type="password" name="password2" class="h4 textinput textInput form-control" required="" id="id_new_password2">
                </div>
            </div>
            <input class="btn btn-secondary btn-responsive" type="submit" value="Reset password">
        </form>
    </div>
</div>
{% endblock %}