<!--This is the message that is sent to the candidate after the password reset token has been generated-->
<html>

    <body>
        <div style="padding:50px">
            <div style="height: 100%; width:100%">
                <h1 style="font-size: 22px; font-weight: bold">Generating a token to change the user password</h1>
                <div style="text-align: justify;">
                    <p style="font-size: 18px; margin-bottom: 0">
                        We would like to inform you that the token for changing the password of <br/>
                        user {{ sc_name }} has been generated. To change your password go to:
                    </p>
                    <!--TODO: Change url-->
                    <a href="http://localhost:8000/reset_password/"><p style="margin: 0; padding: 0">Reset password</p></a>
                    <p style="margin-top: 0">
                        and enter your username, token and new password.<br/><br/><br/>
                    </p>
                    <p>
                        Token:<br/>
                        {{ token }}<br/><br/>
                    </p>
                    <p>
                        If you did not generate a token, please send us a message back, it may be <br/>
                        an attempt to take over your account.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>