<!--This is the message that is sent to the candidate after reset password-->
<html>

    <body>
        <div style="padding:50px">
            <div style="height: 100%; width:100%">
                <h1 style="font-size: 22px; font-weight: bold">User password change</h1>
                <div style="text-align: justify;">
                    <p style="font-size: 18px; margin-bottom: 0">
                        Changing user password {{ sc_name}} was successful
                    </p>
                    <p>
                        If you did not change the password, please send us a message back, it may be <br/>
                        an attempt to take over your account.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>